### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load
csv_path = "Resources/purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_path)


purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [4]:
player_count = len(purchase_data_df['SN'].value_counts())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_data_df.head()

unique_items = len((purchase_data_df["Item ID"]).unique())

average_price = (purchase_data_df["Price"]).mean()

total_purchases = (purchase_data_df["Purchase ID"]).count()

revenue_total = (purchase_data_df["Price"]).sum()

purchase_summary = pd.DataFrame({"Total Unique Items":[unique_items], "Average Price": [average_price],
                                           "Total Purchases":[total_purchases],
                                            "Total Revenue Generated":[revenue_total]})

In [7]:
purchase_summary

   Total Unique Items  Average Price  Total Purchases  Total Revenue Generated
0                 179       3.050987              780                  2379.77

In [10]:
purchase_summary.style.format({'Average Price':"${:,.2f}",
                                          'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
# purchases per_Gender
stats_per_gender = purchase_data_df.groupby("Gender")

# Count the total of screen names "SN" by gender
gender_count = stats_per_gender.nunique()["SN"]

# Total count by gender and divivde by total players
perc_players = gender_count / player_count * 100

# Create data frame with obtained values
gender_dems = pd.DataFrame({"Percentage of Players": perc_players, "Total Count": gender_count})

# Format the data frame with no index name in the corner
gender_dems.index.name = None

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_dems.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
# total purchases per gender 
purchase_count = stats_per_gender["Purchase ID"].count()

# Average purchase prices per gender
avg_price = stats_per_gender["Price"].mean()

# Average purchase total per gender 
avg_total = stats_per_gender["Price"].sum()

# Average purchase total per gender / by purchase count per unique shoppers
avg_purchase_per_person = avg_total/gender_count

# create df 
gender_dems = pd.DataFrame({"# Purchase Count": total_purchases, 
                                    "Average Purchase Price": avg_price,
                                    "Average Purchase Value":avg_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# top left index "Gender"
gender_dems.index.name = "Gender"

# Format with currency style
gender_dems.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
# create bins for ages
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 99999]
group_names = ["<10", "10-15", "15-20", "20-25", "25-30", "30-35", "35-40", "40+"]

# sort age values into bins 
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],age_bins, labels=group_names)
purchase_data_df

# Create new data frame with the added "Age Data Group" 
age_datagrouped = purchase_data_df.groupby("Age Group")

# Count total players by age category
totalcount_byage = age_datagrouped["SN"].nunique()

# Calculate percentages by age category
percentage_age = (totalcount_byage/player_count) * 100

# Create data frame 
age_dems = pd.DataFrame({"Percentage of Players": percentage_age, "Total Count": totalcount_byage})

# create data frame 
age_dems.index.name = None

# Format percentage with two decimal places
age_dems.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# Count purchases by age group
purchase_byage = age_datagrouped["Purchase ID"].count()

# Obtain average purchase price by age group 
avgpurchase_age = age_datagrouped["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_datagrouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avgpurch_byperage = total_purchase_value/totalcount_byage

# Create data frame with obtained values
age_dems = pd.DataFrame({"Purchase Count": purchase_byage,
                                 "Average Purchase Price": avgpurchase_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avgpurch_byperage})

# Format the data frame with no index name in the corner
age_dems.index.name = None

# Format with currency style
age_dems.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
# Group purchase data by screen names
spending_stats = purchase_data_df.groupby("SN")

# Count the total purchases by name
purchaseby_spender = spending_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avgprice_spender = spending_stats["Price"].mean()

# Calculate purchase total 
purchaseby_spender = spending_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchaseby_spender,
                             "Average Purchase Price": avgprice_spender,
                             "Total Purchase Value":purchaseby_spender})

# Sort in descending order to obtain top 5 spender names 
format_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
format_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
items = purchase_data_df[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
statsby_item = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = statsby_item["Price"].count()

# Calcualte the purchase value per item 
valueof_purchase = (statsby_item["Price"].sum()) 

# Find individual item price
item_price = valueof_purchase/purchase_count_item

# Create data frame with obtained values
mostpopular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":valueof_purchase})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_format = mostpopular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [23]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value
popular_formatted = mostpopular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [ ]:
####Observations

#1. The majority of players are male
#2. Peak purchasing price seems to be ages 20 - 25 while ages 15 - 20 trail slightly behind. Could this be because younger 20 year olds have more purchasing power?
#3. Males purchase more than females at a lower rate.